*       text=auto
*.htm   text
*.htm   working-tree-encoding=WINDOWS-1251
*.c     text
*.h     text
*.cpp   text
*.CPP   text
*.rc    text
*.hpp   text
*.dsp   text
*.DSP   text
*.dsw   text
*.vcproj* text
*.exe   binary
*.EXE   binary
*.zip   binary
*.ZIP   binary
*.lib   binary
*.doc   binary
*.png   binary
*.jpg   binary
